[submodule "shared"]
	path = shared
	url = git@github.com:daeroworld/shared.git
[submodule "voice/writer"]
	path = voice/writer
	url = git@github.com:daeroworld/whiscript-backend-voice-writer.git
[submodule "voice/reader"]
	path = voice/reader
	url = git@github.com:daeroworld/whiscript-backend-voice-reader.git
[submodule "text/writer"]
	path = text/writer
	url = git@github.com:daeroworld/whiscript-backend-text-writer.git
[submodule "text/reader"]
	path = text/reader
	url = git@github.com:daeroworld/whiscript-backend-text-reader.git
[submodule "text/bus"]
	path = text/bus
	url = git@github.com:daeroworld/whiscript-backend-text-bus.git
[submodule "voice/bus"]
	path = voice/bus
	url = git@github.com:daeroworld/whiscript-backend-voice-bus.git
